= link_to 'Назад', root_path
|
= link_to 'Добавить резюме', new_resume_path

%ul
  - @resumes.each do |resume|
    %li
      .fio
        = link_to resume.fio, resume_path(resume)
        = link_to '(edit)', edit_resume_path(resume)
      .state
        Статус:
        = resume.state
      .salary
        З/п
        = resume.salary
        руб.
      .contacts
        Контакты:
        = resume.contacts
      .skills
        Умения:
        = resume.skills.map(&:title).join(', ')

